[alias]
  ignored = !git ls-files -v | grep "^[[:lower:]]"
[color]
  ui = true
[diff]
  compactionHeuristic = true
  noprefix = true
[fetch]
  prune = true
[gpg]
  format = ssh
[init]
  defaultBranch = main
[pull]
  ff = only
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
